.jumbotron {
	background-color: #01133F;
	color: white;
}
/* Adds borders for tabs */
.tab-content {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px;
}

.tab-content td {
	font-size: 12px;
}

.nav-tabs {
	margin-bottom: 0;
}

-->
.main-header {
	background: url(../img/va/bg-header.jpg) left bottom;
	overflow: hidden;
}

.main-header-wrap {
	background: #01133F;
}

#footer {
	text-align: center;
	background: #000;
	padding: 10px;
	font-size: 12px;
	color: white;
}

#footer a {
	color: white;
}

#main-logo {
	height: 119px;
	width: 341px;
	float: left;
}

#header-text {
	height: 119px;
	float: right;
	color: white;
	padding-top: 25px;
	padding-right: 10px;
	text-align: right;
	font-size: 14px;
}

#main-logo img {
	width: auto;
}

/* *****
Pop-up styles
***** */
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 15000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@
-webkit-keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
@
keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}

/* The Close Button */
.close {
	color: #000;
	float: right;
	font-size: 30px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #d98134;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 10px 16px;
	background-color: #ccc;
	color: white;
	align-items: center;
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
	padding: 0px 0px;
	background-color: #000;
	color: white;
	border-style: solid;
	border-color: #000;
	height: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}